.cabeça{
    padding: 25px;
    background-color: red;
}
.listinhas{
  list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.lin{
    margin-right: 30px;
}
.linhinha{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.linhinha:hover{
    color: blue;
}
.divdoheader{
   background-repeat: no-repeat;
   background-size: contain;
   background-image: url("/logo.jpeg");
}